//PROJECT SUMMARY PAGE

.projects-summary ul {
        list-style: none;
    }

.project-container {
    padding-bottom: 3em;
}

.project-titlecard {
    position: relative;
    margin: 2rem;
    max-width: 50em;
}

.project-image {
    @media (max-width: 35rem) {
        display: none;
    }
    width: 100%;
    height: 100%;
}

.centerblurb {
    @media (max-width: 35rem) {
        position: relative;
        bottom: auto;
        left: auto;
    }
    bottom: 10%;
    left: 40%;
    position: absolute;
    background-color: black;
    text-align: center;
    padding: $med-size;
    max-height: 16em;
    max-width: 25em;
    color: $khaki;
    h3 {
        font-size: 1.8em;
        color: $lightgreen;
    }
  }


//PROJECT INDIVIDUAL PAGE

.project-links {
    width: 32em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin-bottom: $lg-size;
}

.project-utils {
    width: 32em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.util-li{
    padding: 2px $sm-size;
    //border: 1px solid $medgray;
    background-color: $khaki;
    border-radius: 5px;
}