---
layout: default
---

<h1> {{ page.title }} </h1>
<h2>{{content | markdownify}}</h2>



<p>Made with:</p>
<ul class="project-utils">
    {% for util in page.utilities %}
    <li class="util-li"> {{ util }} </li>
    {% endfor %}
</ul>
<p>See it live:</p>
<ul class="project-links">
        <li><a href={{ project.heroku_link }}>Heroku</a></li>
        <li><a href={{ project.github_link }}>Github</a></li>
    </ul>


<h3>Blog posts about this project</h3>
<ul class="list-top-level">
    {% assign filtered_posts = site.posts | where: 'project', page.title %}
    {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> - {{post.excerpt | strip_html | strip_newlines | escape}} </li>
    {% endfor %}
</ul>
